/* ? ======== Sección Titulo ======== */
.title-section h2 {
    background: var(--brown-gradient) -100%/ 200%;
    background-clip: text;
    place-self: center;
    margin: 0.5em;
    font-size: 4rem;
    color: transparent;
    animation: shimmer 3s linear infinite;
}

@keyframes shimmer {
    to {
        background-position: 100%
    }
}

/* ? ======== Sección Peliculas ======== */
.movies-section {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    max-width: 70rem;
    margin: 0 auto 3rem auto;
    padding: 0 2rem;
}

/* ? ======== Tarjeta de película ======== */
.movie-card {
    margin: 0 auto;
    max-width: 18rem;
    width: 100%;
    border: var(--brown-dark) 4px solid;
    border-radius: 0.8rem;
    overflow: hidden;
    background-color: var(--brown-dark);
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.movie-card:hover {
    z-index: 5;
    transform: scale(1.08);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* * ----- Poster de la pelicula ----- */
.img-wrapper {
    position: relative;
    aspect-ratio: 2 / 3;
    overflow: hidden;
}

.img-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* * ----- Informacion de la pelicula -----*/
.info-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    clip-path: circle(0% at 100% 100%);
}

/*? --- Textos ---*/
.info-overlay h1 {
    font-size: 1.25rem;
    color: var(--brown-light);
}

.info-overlay h3 {
    margin-bottom: 0.5rem;
    color: var(--brown-mid);
}

.info-overlay p {
    display: -webkit-box;
    max-height: 8.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-size: 0.9rem;
    color: var(--text-light);
    line-clamp: 6;
}

/*? --- Efecto Hover ---*/
.movie-card:hover .info-overlay {
    left: 0px;
    clip-path: circle(75%);
    transition: all .5s ease-in-out;
}

/* ! ======== Responsive ======== */
@media (max-width: 900px) {
    .movies-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .movies-section {
        grid-template-columns: 1fr;
    }
}