/* ? ======== Sección Logo ======== */
/* * Seccion del logo */
.logo-section {
    position: relative;
    text-align: center;
    margin-bottom: 3%;
}

/* * Imagen principal del logo */
.main-logo {
    width: 40rem;
    margin: 2%;
}

/* ? ======== Sección general ======== */
.carousel-section {
    max-width: 60rem;
    margin: 0 auto 3rem auto;
    padding: 0 2rem;
    position: relative;
}

.carousel-section h3 {
    font-size: 2.5rem;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    color: var(--brown-light);
    background-color: var(--green-dark);
    border-radius: 10px;
    border: var(--brown-dark) 0.5rem solid;
}

/* ? ======== Marco visual ======== */
.carousel-wrapper {
    border: var(--brown-dark) 0.5rem solid;
    background-color: var(--green-dark);
    border-radius: 1rem;
    padding: 2rem;
    overflow: hidden;
    position: relative;
}

/* ? ======== Carrusel desplazable ======== */
.carousel {
    background-color: var(--brown-mid);
    border: var(--brown-dark) 0.5rem solid;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    transition: transform 0.8s ease-in-out;
    will-change: transform;
}

/* ? ======== Tarjeta de película ======== */
/* * Ficha de cada pelicula */
.movie-card {
    border: var(--brown-dark) 4px solid;
    flex: 0 0 calc(25% - 1rem);
    border-radius: 0.8rem;
    overflow: hidden;
    background-color: var(--brown-dark);
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.movie-card:hover {
    transform: scale(1.08);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    z-index: 5;
}

/* * Poster de la pelicula */
.img-wrapper {
    position: relative;
    overflow: hidden;
    aspect-ratio: 2 / 3;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* * Informacion de la peli */
.info-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.movie-card:hover .info-overlay {
    opacity: 1;
}

/* ? ======== Botones de navegación ======== */
.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    text-align: center;
    background-color: var(--brown-dark);
    color: var(--brown-light);
    border: none;
    border-radius: 50%;
    opacity: 0.9;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-btn:hover {
    background-color: var(--brown-light);
    color: var(--brown-dark);
    opacity: 1;
    transform: translateY(-50%) scale(1.1);
}

.nav-btn.left {
    left: 0.4rem;
}
.nav-btn.right {
    right: 0.4rem;
}

/* ? ======== Responsive ======== */
@media (max-width: 48rem) {
    .carousel-section {
        padding: 0 1rem;
    }
}

@media (max-width: 30rem) {
    .carousel-section h3 {
        font-size: 1.3rem;
    }
}